/.Xauthority
/.bash_history
/.bash_logout
/.bashrc
/.bashrc.save
/.cache
/.cmake
/.conda
/.config
/.dbus
/.dotnet
/.gitconfig
/.ipython
/.jupyter
/.keras
/.lesshst
/.local
/.motd_shown
/.mozilla
/.nv
/.profile
/.ssh
/.sudo_as_admin_successful
/.vscode-remote-containers
/.vscode-server
/.wget-hsts
/=5.3
/Backup
/Labo_Computazionale
/Tesi_Triennale
/Triangolo
/miniconda3
/modules
/